# The number of milliseconds of each tick
tickTime=2000

# The number of ticks that the initial
# synchronization phase can take
initLimit=10

# The number of ticks that can pass between
# sending a request and getting an acknowledgement
syncLimit=5

# the port at which the clients will connect
clientPort={{ port }}

# the directory where the snapshot is stored.
dataDir={{ data_dir }}

# the maximum number of client connections.
# increase this if you need to handle more clients
#maxClientCnxns=60

# Be sure to read the maintenance section of the
# administrator guide before turning on autopurge.
#
# http://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_maintenance

# The number of snapshots to retain in dataDir
autopurge.snapRetainCount={{ snap_retain_count }}

# Purge task interval in hours
# Set to "0" to disable auto purge feature
#autopurge.purgeInterval=1

{% if zookeepers | length() == 1 %}
clientPortAddress=0.0.0.0
{%- else %}
{%- for id, ip in zookeepers.iteritems() %}
server.{{ id }}={{ ip }}:2888:3888
{%- endfor %}
{%- endif %}
